# Standard packages
notebook==7.0.7
numba==0.58.1
numpy==1.24.4
openpyxl==3.1.2
xlrd==2.0.1
pandas==2.0.3
scikit_learn==0.23.2
scipy==1.10.1
# Dependency packages
fb8==1.2.2
mplstereonet==0.6.3
mycolorpy==1.5.1
spherecluster==0.1.7